name: Syncoor - Hoodi
on:
  workflow_dispatch:
  schedule:
    - cron: "35 10 * * *" # Every Day at 10:35 UTC

env:
  NETWORK: "hoodi"
  EL_IMAGES: >-
    {
      "besu": "hyperledger/besu:25.9.0",
      "geth": "ethereum/client-go:v1.16.4",
      "erigon": "erigontech/erigon:v3.2.0-rc1",
      "nethermind": "nethermind/nethermind:1.34.0",
      "reth": "ghcr.io/paradigmxyz/reth:v1.8.2",
      "nimbusel": "ethpandaops/nimbus-eth1:master"
    }
  CL_IMAGES: >-
    {
      "lighthouse": "sigp/lighthouse:v8.0.0-rc.0",
      "teku": "consensys/teku:25.9.3",
      "prysm": "gcr.io/offchainlabs/prysm/beacon-chain:v6.1.1",
      "nimbus": "statusim/nimbus-eth2:multiarch-v25.9.2",
      "lodestar": "chainsafe/lodestar:v1.35.0-rc.1",
      "grandine": "sifrai/grandine:2.0.0.rc0"
    }

jobs:
  trigger-syncoor-fullnode:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: >-
            await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'syncoor.yaml',
              ref: 'master',
              inputs: {
                'run-timeout': '360',
                'config': `
                  {
                    "network": "${{ env.NETWORK }}",
                    "consensus": {
                      "syncType": "checkpoint",
                      "nodeType": "fullnode",
                      "images": ${{ env.CL_IMAGES }}
                    },
                    "execution": {
                      "images": ${{ env.EL_IMAGES }}
                    }
                  }
                `
              }
            });

  trigger-syncoor-supernode:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: >-
            await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'syncoor.yaml',
              ref: 'master',
              inputs: {
                'run-timeout': '360',
                'config': `
                  {
                    "network": "${{ env.NETWORK }}",
                    "consensus": {
                      "syncType": "checkpoint",
                      "nodeType": "supernode",
                      "images": ${{ env.CL_IMAGES }}
                    },
                    "execution": {
                      "images": ${{ env.EL_IMAGES }}
                    }
                  }
                `
              }
            });
